; Configuracion de Base de Datos
DB_HOST="IP privada del equipo en el que estes trabajando actualmente"
DB_PORT="Puerto en el que escucha la Base de Datos - Suele ser el 5432"
DB_NAME="Nombre de la Base de Datos"
DB_USER="Nombre del Administrador de la base de datos"
DB_PASS="Contraseña para la Base de Datos"

; Configuracion de Correo
SMTP_USER="Correo desde el que se enviará el código de verificación"
SMTP_PASS="Contraseña de Aplicación de Google"
ADMIN_KEY="Clave de Seguridad para acceder al panel de Administracion"